@model BusBooking.Models.User
<style>
    p{
        display: inline-block;
    }
    .signup-form{
        margin: 5px 25px 5px 150px;
    }
</style>
<div class="signup-form">
    <div>
        <p>First name</p>
        <p></p>
    </div>
    <div>
        <p>Last name</p>
        <p></p>
    </div>
    <div>
        <p>Email</p>
        <p></p>
    </div>
    <div>
        <p>Password</p>
        <p></p>
    </div>
    <div>
        <p>Mobile no</p>
        <p></p>
    </div>
    <div>
        <p>Gender</p>
        <p></p>
    </div>
    <div>
        <p>Date of Birth</p>
        <p></p>
    </div>
    <div>
        <p>Age</p>
        <p></p>
    </div>
    <div>
        <p>State</p>
        <p></p>
    </div>
    <div>
        <p>City</p>
        <p></p>
    </div>
    <div>
        <p>Address</p>
        <p></p>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
</div>
